.container>*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

.container{
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
   
}

.headingCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.backBtn{
    background: #0d6efd;
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 15px;
    color: #fff;
    
}

.headingCont>span{
  
  font-size: 2rem;
}

.chatCont{
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    gap: 2rem;
    height: 600px;
    overflow-y: scroll;
    color: #000;
    margin: 2rem 0;
    /* background:#fff; */
  
}

.chatCont::-webkit-scrollbar{
    appearance: none;
}

.blockChatPartner{

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    
}

.blockChatPartner>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
}

.messagePartner{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(172, 252, 250);
    padding: 1rem;
    border-radius: 10px;
}

.blockChatMe{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.blockChatMe>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
}

.messageMe{
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 10px;
}

.messageContainer{
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 10rem;

}

.messageContainer>input{
    padding: 1rem;
    outline: none;
    border: 0.5px solid gray;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.203);
    border-radius: 10px 0 0 10px;
}

.messageContainer>input:focus{
    outline: 0.5px solid #30a2fa;
}

.messageContainer>button{
    padding:1.1rem 1.5rem;
    background: #0d6efd;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    
}


.menuIcon{
  
    font-size: 2rem;
    margin: 0 1rem;
    cursor: pointer;
    margin-right: 2rem;
}


.themeDropdown{

list-style: none;
background-color: #fff;
color: #252525;
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
border-radius: 10px;
border: 0.5px solid gray;
width: 120px;
height: 100px;
/* gap: 1rem; */
padding: 0;
position: absolute;
left: -45px;
/* top: -110px;  */
z-index: 10;
animation: theme 0.1s ease-in forwards;
}

@keyframes theme{
    0%{
        left: 65px;
        top: -90px;
        transform: scale(0.3);
        opacity: 0.5;
    }
    100%{
        left: 65px;
        top: -100px;
        transform: scale(1);
        opacity: 1;
    }
}

.themeDropdown>*{
    border-bottom: 1px solid gray;
  
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
}
.themeDropdown>*:nth-child(2n){
    border-bottom: none;
    margin: 0;
    
   
}

.selectTheme{
    background-color: #194668;
    color: #fff;
    border-radius: 10px;
}


@media (max-width:450px){

    .container{
        display: flex;
        flex-direction: column;
        padding: 2rem 0.2rem;
        width: 200vw;
       
    
       
    }
    
    .headingCont{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 180vw;
        padding: 0 2rem;
        
      
    }

    
   

    
.chatCont{
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    gap: 2rem;
    height: 600px;
    overflow-y: scroll;
    color: #000;
    margin: 2rem 0;
  
    width: 200vw;
    height: 150vh;
    
  
}

.messageContainer>input{
    min-width: 150px;
}


}

@media(min-width:460px) and (max-width:1000px)
{
    .messageContainer{
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 2rem;
      
    
    }
    
    .messageContainer>input{
        padding: 1rem;
        outline: none;
        border: 0.5px solid gray;
        width: 100%;
        min-width:300px;
        background-color: rgba(128, 128, 128, 0.203);
        border-radius: 10px 0 0 10px;
    }
    
    .messageContainer>input:focus{
        outline: 0.5px solid #30a2fa;
    }
    
    .messageContainer>button{
        padding:1.1rem 1.5rem;
        background: #0d6efd;
        color: #fff;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 0 10px 10px 0;
        
    }
    
    .menuIcon{
  
        font-size: 2rem;
        margin: 0 1rem;
        cursor: pointer;
        margin-right: 2rem;
    }
    
    
    .themeDropdown{
    
    list-style: none;
    background-color: #fff;
    color: #252525;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
    border: 0.5px solid gray;
    width: 120px;
    height: 100px;
    /* gap: 1rem; */
    padding: 0;
    position: absolute;
    left: -45px;
    /* top: -110px;  */
    z-index: 10;
    animation: theme 0.1s ease-in forwards;
    }

}


@media (max-width:320px)
{

    .messageContainer{
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 2rem;
      
    
    }
    
    .messageContainer>input{
        padding: 1rem;
        outline: none;
        border: 0.5px solid gray;
        width: 100%;
        min-width:100px;
        background-color: rgba(128, 128, 128, 0.203);
        border-radius: 10px 0 0 10px;
    }
    
    .messageContainer>input:focus{
        outline: 0.5px solid #30a2fa;
    }
    
    .messageContainer>button{
        padding:1.1rem 1.5rem;
        background: #0d6efd;
        color: #fff;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 0 10px 10px 0;
        
    }
    
    .menuIcon{
  
        font-size: 3rem;
        margin: 0 1rem;
        cursor: pointer;
        margin-right: 2rem;
    }
    
    
    .themeDropdown{
    
    list-style: none;
    background-color: #fff;
    color: #252525;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
    border: 0.5px solid gray;
    width: 120px;
    height: 100px;
    /* gap: 1rem; */
    padding: 0;
    position: absolute;
    left: -45px;
    /* top: -110px;  */
    z-index: 10;
    animation: theme 0.1s ease-in forwards;
    }

}