.changeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    height: 100vh;
    background: #f4f4f4;
  }
  
  .changeBox {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  


  .imgContainer img{
    width: 600px;
  }

  .changeBox h2 {
    margin-bottom: 1rem;
    color: #333;
  }
  
  .changeBox p {
    font-size: 14px;
    color: #555;
    margin-bottom: 1rem;
  }
  
  .changeBox input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .change{
    background-color: #194668;
    padding:0.3rem ;
    margin-top: 1rem;
    border-radius: 5px;
  }

  .change a{
    color: white;
    text-decoration: none;
  }
  
 