.forgotContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    height: 100vh;
    background: #f4f4f4;
  }
  
  .forgotBox {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  .imgContainer img{
    width: 600px;
  }
  
  .forgotBox h2 {
    margin-bottom: 1rem;
    color: #333;
  }
  
  .forgotBox p {
    font-size: 14px;
    color: #555;
    margin-bottom: 1rem;
  }
  
  .forgotBox input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgotBox button {
    width: 100%;
    padding: 10px;
    background-color: #194668;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .forgotBox button:hover {
    background: #0056b3;
  }
  
  .forgotFooter {
    margin-top: 1rem;
  }
  
  .forgotFooter a {
    color: #194668;
    text-decoration: none;
  }
  